<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="MyFork" verbose="1" >
    <test name="Smoke" >
        <groups>
            <run>
                <include name="first"></include>
                <include name="second"></include>
                <exclude name="third"></exclude>
            </run>
        </groups>

        <classes>
            <class name="testcases.BoATest" >
                <methods>
                    <include name="openWebsite"></include>
                    <include name="naviCarousel"></include>
                    <exclude name="creditCardTab"></exclude>
                </methods>
            </class>
            <class name="testcases.MyForkTest">
                <methods>
                    <include name="fillEmailAndPasswordPressEnterAndValidateError"></include>
                    <include name="ValidateCheckbox"></include>
                    <exclude name="hardAssertions"></exclude>
                    <exclude name="assertSoft"></exclude>
                </methods>
            </class>
        </classes>
    </test>


</suite>



